[Unit]
Description=Idle management daemon for Niri with Noctalia

[Service]
Type=simple
ExecStart=/usr/bin/swayidle -w \
    timeout 300 'qs -c noctalia-shell ipc call lockScreen lock' \
    timeout 600 'niri msg action power-off-monitors' \
    resume 'niri msg action power-on-monitors'
Restart=always
RestartSec=3

[Install]
WantedBy=default.target
